<script lang="ts" setup>
import { ref } from "vue";
const num = ref(0);
const valid = ref(true);
const number = ref<number[]>([]);
function create(num: number) {
  number.value.splice(0, number.value.length);
  for (let i = 1; i <= num; i++) {
    number.value.push(i);
  }
}
</script>

<template>
  <v-container style="height: 700px; overflow: auto">
    <v-form ref="form" v-model="valid">
      <v-text-field label="Please input Number" v-model="num" :rules="[(v) => !!v || 'Number is not empty!!']" required
        :oninput="create(num)"></v-text-field>
    </v-form>
    <v-row>
      <v-col cols="1" class="my-16" v-for="item in number" :key="item">
        {{ item }}
      </v-col>
    </v-row>
  </v-container>
</template>
