<script lang="ts" setup>
import { ref } from "vue";

const emotion = ref("SMILE");
const image = ref("smile.png");
const color1 = ref("");
const color2 = ref("");
const color3 = ref("");
const color4 = ref("");
const color5 = ref("");
const color6 = ref("#FFEA20");
const emotion1 = () => {
  image.value = image.value === "angry.png" ? "" : "angry.png";
  emotion.value = emotion.value === "ANGRY" ? "" : "ANGRY";
  color1.value = color1.value === "#FFEA20" ? "white" : "#FFEA20";
  color2.value = "white";
  color3.value = "white";
  color4.value = "white";
  color5.value = "white";
  color6.value = "white";
};
const emotion2 = () => {
  image.value = image.value === "cute.png" ? "" : "cute.png";
  emotion.value = emotion.value === "CUTE" ? "" : "CUTE";
  color2.value = color2.value === "#FFEA20" ? "white" : "#FFEA20";
  color1.value = "white";
  color3.value = "white";
  color4.value = "white";
  color5.value = "white";
  color6.value = "white";
};
const emotion3 = () => {
  image.value = image.value === "excited.png" ? "" : "excited.png";
  emotion.value = emotion.value === "EXCITED" ? "" : "EXCITED";
  color3.value = color3.value === "#FFEA20" ? "white" : "#FFEA20";
  color2.value = "white";
  color1.value = "white";
  color4.value = "white";
  color5.value = "white";
  color6.value = "white";
};
const emotion4 = () => {
  image.value = image.value === "pain.png" ? "" : "pain.png";
  emotion.value = emotion.value === "PAIN" ? "" : "PAIN";
  color4.value = color4.value === "#FFEA20" ? "white" : "#FFEA20";
  color2.value = "white";
  color3.value = "white";
  color1.value = "white";
  color5.value = "white";
  color6.value = "white";
};
const emotion5 = () => {
  image.value = image.value === "shocked.png" ? "" : "shocked.png";
  emotion.value = emotion.value === "SHOCKED" ? "" : "SHOCKED";
  color5.value = color5.value === "#FFEA20" ? "white" : "#FFEA20";
  color2.value = "white";
  color3.value = "white";
  color4.value = "white";
  color1.value = "white";
  color6.value = "white";
};
const emotion6 = () => {
  image.value = image.value === "smile.png" ? "" : "smile.png";
  emotion.value = emotion.value === "SMILE" ? "" : "SMILE";
  color6.value = color6.value === "#FFEA20" ? "white" : "#FFEA20";
  color3.value = "white";
  color4.value = "white";
  color5.value = "white";
  color1.value = "white";
};
</script>
<template>
  <v-container>
    <v-row class="mt-16">
      <v-col :cols="6">
        <v-img :src="image" width="570px">
        </v-img>
      </v-col>

      <v-col>
        <div class="text-center fs">{{ emotion }}</div>
          <v-btn width="100%" class="mt-4" :color="color1" @click="emotion1()"> ANGRY </v-btn>
          <v-btn width="100%" class="mt-4" :color="color2" @click="emotion2()"> CUTE </v-btn>
          <v-btn width="100%" class="mt-4" :color="color3" @click="emotion3()"> EXCITED </v-btn>
          <v-btn width="100%" class="mt-4" :color="color4" @click="emotion4()"> PAIN </v-btn>
          <v-btn width="100%" class="mt-4" :color="color5" @click="emotion5()"> SHOCKED </v-btn>
          <v-btn width="100%" class="mt-4" :color="color6" @click="emotion6()"> SMILE </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.fs {
  font-size: 50px;
}
.section {
  flex-direction: column;
}
</style>
