<script lang="ts" setup>
import { ref, computed } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
const list = ref<{ id: number; name: String; price: number }[]>([]);
const addProduct = (product: { id: number; name: string; price: number }) => {
  list.value.push(product)
};
const sum = computed(() => {
  return list.value.reduce((acc, curr) => acc + curr.price, 0);
}); 
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-container style="height: 500px; overflow: auto">
          <v-row>
            <v-col cols="4" v-for="(item, index) of products" :key="index">
              <v-card width="160px" height="100px">
                <div class="text-center">{{ item.name }}</div>
                <div class="text-center">{{ item.price }}</div>
                <v-btn class="ml-11" @click="addProduct(item)">ADD</v-btn>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>

      <v-col cols="6">
        <v-table fixed-header height="420px">
          <thead>
            <tr>
              <th class="text-left">id</th>
              <th class="text-left">name</th>
              <th class="text-left">price</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in list" :key="item.name">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
            </tr>
            <tr>
              <td v-if="list.length === 0" colspan="12">
                <div class="text-center text-h6">NO DATA</div>
              </td>
            </tr>
          </tbody>
        </v-table>
        <div class="text-h2 ml-15 mt-8 font-weight-regular">Sum: {{ sum }}</div>
      </v-col>
    </v-row>
  </v-container>
</template>
