<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const useCounter = useCounterStore();
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <div>FirstComponent</div>
        <div>{{ useCounter.count }}</div>
      </v-col>
    </v-row>
    <v-row>
      <v-col><v-btn @click="useCounter.increment"> INCREMENT </v-btn></v-col>
    </v-row>
  </v-container>
</template>